<div class="container-fluid" *ngIf="history">

  <div class="table-responsive-xl">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>Video Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th>File/Link</th>
          <th>Target</th>
        </tr>
      </thead>
      <tr *ngFor="let entry of history.data">
        <td>{{ entry.f_date }}</td>
        <td>{{ entry.source_title }}</td>
        <td>{{ entry.albart }}</td>
        <td>{{ entry.alb }}</td>
        <td *ngIf="entry.type === 'f'">File</td>
        <td *ngIf="entry.type === 'l'">Link</td>
        <td *ngIf="entry.target">{{ entry.target }}</td>
        <td *ngIf="!entry.target"></td>
      </tr>
    </table>
  </div>

</div>