<app-header (navigate)="changeView($event)"></app-header>
<div class="container-fluid" style="margin-top:80px; margin-bottom:80px">
  <div class="row" *ngIf="selectedView !== 'home'">

    <div class="col-sm">
      <app-history></app-history>
    </div>

  </div>
  <div class="row" *ngIf="selectedView === 'home'">

    <div class="col-sm-6">
      <app-new-job></app-new-job>
    </div>
    <div class="col-sm-6">
      <app-job-list></app-job-list>
    </div>

  </div>
</div>
<app-footer></app-footer>