<div *ngIf="videos.length === 0 && loading === 'loaded'">
  No Results! Please check your Selection and Input!
</div>

<mat-spinner *ngIf="loading === 'loading'" class="mx-auto"></mat-spinner>

<div class="text-center" *ngIf="videos.length !== 0">
  <button mat-raised-button  [matBadge]="selectedVideos.length" matBadgePosition="before" matBadgeColor="accent" color="primary" (click)="onClick()" [disabled]="selectedVideos.length === 0">Download selected</button>
</div>
  
  <br>
  
<mat-card *ngFor="let video of videos" class="mt-card mb-3 mx-auto" [class.bg-selected]="selectedVideos.indexOf(video) !== -1">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-checkbox (click)="onSelectVideo(video)"></mat-checkbox>
    </div>
    <mat-card-title>{{ video.title }}</mat-card-title>
    <mat-card-subtitle>{{ video.albart }} / {{ video.alb }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="video.imageUrl" [alt]="video.title" style="cursor: pointer">
  <mat-card-actions>
    <button mat-button color="primary">Edit</button>
  </mat-card-actions>
</mat-card>