<div *ngIf="videos.length === 0 && loading === 'loaded'">
  No Results! Please check your Selection and Input!
</div>

<mat-spinner *ngIf="loading === 'loading'" class="mx-auto"></mat-spinner>

<div class="text-center" *ngIf="videos.length !== 0">
  <button mat-raised-button  [matBadge]="selectedVideos.length" class="mr-2" matBadgePosition="before" matBadgeColor="accent" color="primary" (click)="onDownload()" [disabled]="selectedVideos.length === 0">Download selected</button>
  <button mat-raised-button class="mr-2" color="accent" (click)="onSelectAll()">Select All</button>
</div>
  
  <br>
  
<mat-card *ngFor="let video of videos" class="mt-card mb-3 mx-auto" [class.bg-selected]="selectedVideos.indexOf(video) !== -1">
  <mat-card-header>
    <mat-card-title>
      <mat-checkbox (click)="onSelectVideo(video)">Select to download</mat-checkbox>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="video.imageUrl" [alt]="video.title" style="cursor: pointer">
  <mat-card-content>
    <mat-form-field class="w-max">
      <input matInput [(ngModel)]="video.title" placeholder="Video Title">
    </mat-form-field>
    <mat-form-field class="w-max">
      <input matInput [value]="video.albart + ' / ' + video.alb" placeholder="Artist / Album" readonly>
    </mat-form-field>
  </mat-card-content>
</mat-card>