<div class="row">
    <div class="col-md-4">

        <form [formGroup]="inputForm">
          <div class="form-group">
            <label for="inputFormRadio">Select what you are going to enter:</label>
            <div id="inputFormRadio" class="btn-group" btnRadioGroup formControlName="target">
              <label btnRadio="videos" class="btn btn-primary" tabindex="0" role="button">Video ID</label>
              <label btnRadio="playlistItems" class="btn btn-primary" tabindex="0" role="button">Playlist ID</label>
              <label btnRadio="search" class="btn btn-primary" tabindex="0" role="button">Live Search</label>
            </div>
          </div>
          <div class="form-group">
            <label for="formInputId">Enter a {{ formText[this.inputForm.value.target] }}:</label>
            <input id="formInputId" type="text" class="form-control" formControlName="input" [placeholder]="formText[this.inputForm.value.target]">
          </div>
          <div class="form-group">
            <label for="formInputId">Enter an Artist (optional):</label>
            <input type="text" class="form-control" formControlName="albart" placeholder="Artist">
          </div>
          <div class="form-group">
            <label for="formInputId">Enter an Album (optional):</label>
            <input type="text" class="form-control" formControlName="alb" placeholder="Album">
          </div>
          <div class="form-group">
            <button class="btn btn-primary mr-1" (click)="onCollectInformation()">Search</button>
            <button class="btn btn-danger" type="reset" routerLink="/job">Clear</button>
          </div>
        </form>
      <hr>
    </div>
    <div class="col-md">
      <router-outlet></router-outlet>
    </div>
</div>