<div class="row">
    <div class="col-md-4">

        <form [formGroup]="inputForm">
          <div class="form-group">
            <label for="inputFormRadio">Select what you are going to enter:</label>

            <mat-button-toggle-group color="warn" formControlName="target">
              <mat-button-toggle color="warn" value="videos">Video ID</mat-button-toggle>
              <mat-button-toggle color="warn" value="playlistItems">Playlist ID</mat-button-toggle>
              <mat-button-toggle color="warn" value="search">Live Search</mat-button-toggle>
            </mat-button-toggle-group>

          </div>
          <div class="form-group">
            <mat-form-field class="w-max">
              <input matInput id='input' [placeholder]="'Enter a ' + formText[this.inputForm.value.target]" formControlName="input" autocomplete="off">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="w-max">
              <input matInput id='albart' placeholder="Select an Artist (optional)" formControlName="albart" [matAutocomplete]="albartSelect">
              <mat-autocomplete #albartSelect="matAutocomplete" (optionSelected)="this.omniApiService.getExistingAlb(this.inputForm.value.albart)">
                <mat-option *ngFor="let albart of albartAvailable" [value]="albart">
                  {{ albart }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="w-max">
              <input matInput id="alb" placeholder="Select an Album (optional)" formControlName="alb" [matAutocomplete]="albSelect">
              <mat-autocomplete #albSelect="matAutocomplete">
                <mat-option *ngFor="let alb of albAvailable" [value]="alb">
                  {{ alb }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="form-group">
            <button mat-raised-button color="primary" class="mr-1" (click)="onCollectInformation()">Search</button>
            <button mat-button color="warn" routerLink="/job" (click)="formRebuild()">Clear</button>
          </div>
        </form>
      <hr>
    </div>
    <div class="col-md">
      <router-outlet></router-outlet>
    </div>
</div>